html {
    padding:0;
    overflow-y:scroll;
}

body {
    margin:0;
    padding:0;
    background:#444;
    color:#ccc;
    font-size:14px;
    line-height:21px;
    font-family:Arial,Helvetica,sans-serif;
}
::-webkit-scrollbar{
    width:6px;
    background:#000;
}
::-webkit-scrollbar-thumb{
    background:#ccc;
}

.wrapper {
    width:940px;
    margin:0 auto;
    overflow:hidden;
}

#name {
    top: 20px;
    width: 300px;
    min-height: 34px;
    line-height:34px;
    position: absolute;
    font-family: 'Russo One', cursive;
    font-size:28px;
    color:#fff;
}

#subname {
    font-family:Arial,Helvetica,sans-serif;
    font-size:26px;
    color:rgb(0, 169, 255);
}

#access {
    top: 60px;
    width: 940px;
    min-height: 25px;
    position: absolute;
}

#nav {
    list-style:none;
    margin-top:8px;
}

#nav li {
    float:right;
    margin:0;
    padding-left:36px;
    vertical-align:middle;
}

#nav li a {
    display:inline-block;
    outline:none;
    color:#ccc;
    text-decoration:none;

    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}

#nav li a:hover {
    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
#link-home:hover {
    color:#ff4040;
}
#link-research:hover {
    color:#ff9a40;
}
#link-projects:hover {
    color:#fff740;
}
#link-about:hover {
    color:#e439a1;
}
#link-contact:hover {
    color:#4282d3;
}

#home-gallery {
    margin-top:50px;
    height:437px;
    position:relative;
    overflow:hidden;
}

#gallery-text {
    margin-top:330px;
    background-color:#222;
    opacity:0.8;
    min-height:107px;
    min-width:940px;
    z-index:2;
    text-align:center;
}

#gallery-description {
    overflow:hidden;
    height:30px;
}
#gallery-description p {
    margin-top:0px;
    margin-bottom:0px;
    font-size:20px;
    height:30px;
}


.gallery-content {
    position:absolute;
    left:0px;
    top:0px;
}

.gallery-photo {
    position:absolute;
    width:940px;
    height:437px;
}

#motto p { 
    margin: 10px auto;
    font-family: 'Russo One', cursive;
    font-size:16px;
    text-align:right;
}
#arrows-left {
    position:absolute;
    float:left;
    background-repeat:no-repeat;
    width:50px;
    height:70px;
    opacity:0.5;
    z-index:3;
    top:350px;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
}

#arrows-right {
    position:absolute;
    float:right;
    background-repeat:no-repeat;
    width:50px;
    height:70px;
    margin-left:890px;
    opacity:0.5;
    z-index:3;
    top:350px;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
}

#arrows-left:hover {
    opacity:1;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
}
#arrows-right:hover {
    opacity:1;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
}

#contact-container {
    margin-top:50px;
    margin-bottom:50px;
    background-color:#333;
}

#contact-container h1{
    position:relative;
    top:40px;
    left:40px;
    color:rgb(0, 169, 255);
}
#contact-description {
    position:relative;
    margin-top:100px;
    margin-left:40px;
    bottom:40px;
}
#contact-text {
    position:relative;
    float:right;
    right:40px;
}

#contact-text h3 {
    margin-top:0px;
    color:rgb(0, 169, 255);
}
#contact-text p {
    margin-top:0px;
    margin-bottom:0px;
}
#contact-text div {
    margin-bottom:20px;
}
#contact {
    list-style-type:none;
    padding-left:0px;
}
#twitter {
    background:url("../img/twitter-icon.png") no-repeat;
    padding-left:24px;
}
#twitter:hover {
    color:#00acee;
    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
#linkedin {
    background:url("../img/linkedin-icon.png") no-repeat;
    padding-left:24px;
}
#linkedin:hover {
    color:#007bb6;
    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
#mail {
    background:url("../img/gmail-icon.png") no-repeat;
    padding-left:24px;
}
#mail:hover {
    color:#b50000;
    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
#contact li a {
    text-decoration:none;
    color:#ccc;
    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
#contact-photo {
    position:relative;
    width:520px;
    height:300px;
    overflow:hidden;
}
#contact-photo-description {
    margin-top:70px;
    opacity:0;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
}
#contact-photo-description:hover {
    opacity:1;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
}
#contact-photo-description p {
    font-family: cursive;
}
.backToTop {
    display: none;
    width: 40px;
    line-height: 1.2;
    padding: 5px 0;
    background-color: rgb(0, 169, 255);
    color: #fff;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 67px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
}

.banner {
    width:100%;
    min-width:940px;
    height:100px;
    background-color:rgb(0,0,0);
}
